:root {
  --theme-primary: rgb(32, 35, 42);
  --theme-secondary: #dde6e7;
  --theme-warn: #f2493d;
  --theme-green: #53a870;
  --easing: cubic-bezier(0.8, 0, 0.3, 1);
}

/* 1.2 typography config */

p {
  line-height: 1.5;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
  min-height: 100%;
}

body {
  font-family: 'proxima-nova', sans-serif;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  width: 100%;
  position: relative;
  height: fit-content;
}

/*app-content*/
.app-content {
  min-width: 700px;
  z-index: 10;
  position: relative;
  /* transform and max-width are now set dynamically in the component */
  background-color: white;
}

@media screen and (max-width: 940px) {
  .app-content {
    min-width: unset;
    width: 100%;
    transform: none !important;
    max-width: 100% !important;
  }
}

/* @media screen and (min-width: 1700px) {
  .app-content {
    margin-left: 850px;
  }
}
@media screen and (max-width: 600px) {
  .brush-img {
    background-repeat: no-repeat;
    background-image: url('../../public/brush.webp');
    background-size: cover;
    background-position: 100% 0;
    width: 100%;
    height: 130px;
    position: absolute;
    margin-top: 80px;
  }
}*/

.page {
  position: relative;
  min-height: 700px;
  height: 100vh;
  font-family: proxima-nova, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 50px; */
  background-color: white;
}

.page-content {
  width: 100%;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

@media screen and (max-width: 940px) {
  .page {
    height: fit-content;
    min-height: auto;
    margin: 100px 0;
  }
}

button {
  cursor: pointer;
  border: none;
  outline: 0;
}

@media screen and (max-width: 760px) {
  .page:not(:last-child)::after {
    background-color: var(--theme-primary);
    bottom: -60px;
    content: '';
    height: 1px;
    left: 50%;
    opacity: 0.05;
    position: absolute;
    transform: translateX(-50%);
    width: 90%;
  }
}

@media screen and (max-width: 940px) {
  .page {
    padding: 0 50px;
  }
}
