/*

Skill Page

*/

.skill.page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-bar {
    max-width: 700px;
    width: 100%;
    height: 20px;
    padding: 22px 0;
    display: flex;
    align-items: center;
}

.skill-bar-name {
    width: 130px;
    // text-align: right;
    // font-family: adobe-garamond-pro, serif;
    font-family: "proxima-nova", sans-serif;
    font-size: 14px;
    margin-right: 20px;
    text-align: left;
    width: 70px;
}
.skill-bar-body span {
    position: absolute;
    right: 0;
    top: -6.5px;
}

.skill-bar-body {
    // width: 500px;
    flex: 1;
    height: 6px;
    background-color: #f6f6f6;
    position: relative;
    border-radius: 3px;
}

.skill-bar-body div {
    position: absolute;
    height: 100%;
    left: 0;
    border-radius: 5px;
    z-index: 10;
    background-color: var(--theme-secondary);
    // background-image: linear-gradient(89.5deg, rgba(131, 204, 255, 1) 0.4%, rgba(66, 144, 251, 1) 100.3%);
    background-image: linear-gradient(315deg, rgba(0, 92, 173, 0.5) 0%, rgba(28, 135, 228, 0.1) 100%);
}

.skill-bar-body span {
    position: absolute;
    right: 0;
    top: -6.5px;
}
.skill-page-content__head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skill-page-content__head h2 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 2.7rem;
    color: var(--theme-primary);
    margin-bottom: 0;
}

.skill-page-content__head p {
    font-size: 1.4rem;
    font-family: proxima-nova, sans-serif;
    color: rgb(108, 108, 108);
    margin: 8px 0 20px;
}

.skill-page-content__head h2 span.active {
    transform: translateY(-10px);
    color: var(--theme-green);
}

.skill-page-p {
    color: var(--theme-primary);
    font-size: 1.4rem;
    font-family: proxima-nova, sans-serif;
    margin: 10px 0px 40px;
}

@media screen and (max-width: 940px) {
    .skill-bar {
        width: 100%;
        max-width: unset;
    }

    .skill-page-content {
        width: 100%;
    }

    .skill-bar-body {
        width: 100%;
    }
    .skill-bar-name {
        text-align: left;
        width: 70px;
    }
}
@media screen and (max-width: 500px) {
    // padding: 10px 0;
    .skill-bar {
        padding: 15px 0;
    }
    .skill-bar-name {
        font-size: 1.2rem;
        width: 50px;
    }
}

// @media screen and (max-width: 740px) {
//     .skill-page-content {
//         width: 100%;
//     }
// }

.skill-page-content__body {
    width: 100%;
}

.skill-page-content {
    width: 100%;
    max-width: 450px;
}
